@charset "utf-8";
:root {
    --main-color: #00D2D3;
    --main-color-rgb: 0, 210, 211;
    --two-color: #1A365D;
    --two-color-rgb: 26, 54, 93;
}

.slider-one__content:before,
.page-title__content:before,
.project-two__img:before {
    background: rgb(26, 54, 93);
    background: linear-gradient(90deg, rgba(26, 54, 93, 1) 26%, rgba(15, 23, 42, 1) 83%);
}

.about-three__play .ripple,
.about-three__play .ripple:before,
.about-three__play .ripple:after,
.about-two__play .ripple,
.about-two__play .ripple:before,
.about-two__play .ripple:after {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 210, 211, .3);
    box-shadow: 0 0 0 0 rgba(0, 210, 211, .3);
}
