@charset "utf-8";

/* CSS Document */
:root {
	--main-color: #bb54e1;
    --main-color-rgb: 187, 84, 225;	
}



.hat-we-are-one__img-shape img {
	filter: grayscale(100%);
}

.section-title-shape-1 img {
	filter: grayscale(100%);
}

.section-title-shape-2 img {
	filter: grayscale(100%);
}

.testimonial-one__img-box>img {
	filter: grayscale(100%);
}

.contact-info-one__logo a img{
	filter: grayscale(100%);
}

.main-header-two__logo-box a img{
	filter: grayscale(100%);
}

.slider-three__shape-1 img {
	filter: grayscale(100%);
}


.about-three__play .ripple,
.about-three__play .ripple:before,
.about-three__play .ripple:after {
	-webkit-box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
	-moz-box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
	-ms-box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
	-o-box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
	box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
}

.about-two__play .ripple,
.about-two__play .ripple:before,
.about-two__play .ripple:after {
	-webkit-box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
	-moz-box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
	-ms-box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
	-o-box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
	box-shadow: 0 0 0 0 rgba(187, 84, 225, .3);
}


.slider-one__content:before {
	background: rgb(187, 84, 225);
	background: linear-gradient(90deg, rgba(187, 84, 225, 1) 26%, rgba(38, 38, 56, 1) 83%);
}

.page-title__content:before {
	background: rgb(187, 84, 225);
	background: linear-gradient(90deg, rgba(187, 84, 225, 1) 26%, rgba(38, 38, 56, 1) 83%);
}


.project-two__img:before {
	background: rgb(187, 84, 225);
	background: linear-gradient(0deg, rgba(187, 84, 225, 1) 2%, rgba(187, 84, 225, 0) 45%);
}


